input {
  width: 100%;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.example-full-width {
  flex-basis: calc(50% - 10px);
}

.textarea-field {
  flex-basis: calc(50% - 10px);
  margin-left: 10px;
}

.submit-button {
  width: 100%;
  display: flex;
  justify-content: center;
  /* margin-top: 20px; */
}

mat-card {
  width: 50%;
  align-items: center;
  padding: 10px;
  margin-left: 250px;
  margin-top: 50px;
}

.container {
  margin-top: 5%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

mat-card-content {
  font-weight: 600;
  font-size: medium;
}
